/*公用*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto;}
.lf{float: left;}
.rf{float: right;}

/*headerBar*/
.headerBar{height: 80px;background-color: #000000;  line-height: 40px; color:#FFFFFF}


/*logo*/
.left_logo{padding: 0;}





/*right_login signin signup*/
.right_login li {
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    height: 100%;
    width: 50%;
}
.right_login ul{
    width: 160px;height: 80px;
}
.right_login a{
    display: block;
height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 80px;
    color: #787D82;
}



/*search*/
.search{height: 70px;}
.search_box{width: 400px;padding-top: 20px;}
.wrap input{width: 350px;height: 40px;line-height:40px\9;padding: 0 5px;background-color:#FFFFFF;}
.border_sty{
    border-width: 1px 1px 1px 1px;
border-style: solid;
background: #FFF none repeat scroll 0% 0%;
display: inline-block;
vertical-align: top;
border-color: #000000;
}



/*main_page*/