/*公用*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto;}
.lf{float: left;}
.rf{float: right;}



/*headerBar*/
.headerBar{height: 80px;background-color: #000000;  line-height: 40px; color:#FFFFFF}


/*logo*/
.left_logo{padding: 0;}





/*right_login signin signup*/
.right_login li {
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    height: 100%;
    width: 50%;
}
.right_login ul{
    width: 160px;height: 80px;
}
.right_login a{
    display: block;
height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 80px;
    color: #787D82;
}



/*///////////////////////////////////////////////////////////////*/
/*index*/
/*main_page*/
/*search*/
.search{height: 70px;}
.search_box{width: 400px;padding-top: 20px;}
.wrap input{width: 350px;height: 40px;line-height:40px\9;padding: 0 5px;background-color:#FFFFFF;}
.border_sty{
    border-width: 1px 1px 1px 1px;
border-style: solid;
background: #FFF none repeat scroll 0% 0%;
display: inline-block;
vertical-align: top;
border-color: #000000;
}



/*image_page*/
.image_page{position: relative;display: block;margin: 40px 0px 0px 0px;}
.image_box{height:auto;padding: 0px 15px 15px 0px;float: left;}
.pic_style{padding: 10px;
border :1px solid  #ccc;
border-radius: 5px;
box-shadow: 0 0 5px;}
.pic_style img{width:213px;height:auto;}


/*///////////////////////////////////////////////////////////////*/
/*帖子详情details*/  
/*detail_page*/
/*image_page*/
.image_description{position: relative;display: block;margin: 40px 0px 0px 0px;}
.image_list{height:100%;padding: 0px 15px 15px 0px;}
.image_list img{width:213px;height:auto;}
.picture_style{
    float: left;
    width:25%;}
.picture_descrip{
    width:75%;
    height: 100%;
    float: right;
    position: relative;
    }








/*///////////////////////////////////////////////////////////////*/
/*个人空间person_space*/

/*个人信息介绍部分*/
.persional_property{background-color: #ccc;}
/*头像粉丝关注*/
.person-photo{width :150px;height: 250px;}
.person-photo img{width :150px;height: 200px;}
.person-photo .focus_num{width :74px;height: 25px;float: left;text-align: center;border-right: 1px solid #f0f0f0;}
.person-photo .fans_num{width :74px;height: 25px;float: left;text-align: center;}
.focus_num b a{
text-decoration: none;
color: #5A5656;
}
.fans_num b a{
text-decoration: none;
color: #5A5656;
}
/*个人信息*/
.persional_property .person-info{width :820px;margin: 25px 0px 0px 30px;}
.persional_property .person-info dt {
overflow: hidden;
}

/*昵称*/
.person-nick-name span {
display: block;
float: left;
font-size: 24px;
color: #333;
font-weight: normal;}

/*性别等个人信息*/
.person-info  .person-detail {
overflow: hidden;
font-size: 16px;
color: #333;
margin-top: 10px;
}

.person-detail span {
font-size: 14px;
padding: 0 15px;
}

/*个人特征/标签*/
.person-info .person-sign {
overflow: hidden;
font-size: 14px;
color: #999;
border-top: 1px solid #f0f0f0;
padding-top: 8px;
margin-top: 10px;
line-height: 22px;
word-wrap: break-word;
word-break: break-all;}



/*发布与收藏*/
/*发布收藏标签*/
.person_Publish_Collect .person_detail_tab {
height: 48px;
margin: 0 auto;
}

.person_Publish_Collect .person_detail_tab li {
width: 500px;
line-height: 48px;
float: left;
text-align: center;
font-size: 16px;
background: #eee;
margin: 0px;
padding: 0px;
cursor: pointer;
}
.person_Publish_Collect .person_detail_tab .active{background: #fff;border-top: 1px solid #aaccff;}
/*发布与收藏目录*/
.person_Publish_Collect .myContent .current_on{display: block;}
.person_Publish_Collect .myContent > div {display: none;}
