body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:14px/1.5 "宋体";height:100%;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
input{background-color:#FFFFFF;}
textarea{resize:none;}
a{text-decoration:none; color:#FFFFFF}
a:hover{color: red;}
/*清浮动*/
.clearfix:after{content:"";*display:block;*clear:both;}
.clearfix{zoom:1;clear: both;}







